/* © Roope Tapaninen 2016 */

/* fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

html {
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: black;
    height: 120vh;
}
.overflow {
    overflow-y: auto;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgba(90, 90, 90, 0.8);
    color: rgb(255, 190, 80);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 0px 2px 3px rgba(80, 80, 80, 1);
    -moz-box-shadow: 0px 0px 2px 3px rgba(80, 80, 80, 1);
    box-shadow: 0px 0px 2px 3px rgba(80, 80, 80, 1);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.title {
    height: 4em;
    text-align: center;
    margin: auto;
    flex-grow: 1;
    flex-basis: auto;
}
.title img {
    width: 22em;
}
.form {
    height: 4em;
    margin: auto;
    flex-grow: 2.5;
    flex-basis: auto;
}
form {
    
    text-align: center;
}
input[type=text]{
    padding: 12px 15px;
    width: 10em;
    margin: 1em 0 0 2em;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0.25em;
    box-sizing: border-box;
}
input[type=button]{
    background-color: rgb(255, 190, 80);
    color: black;
    padding: 1em;
    border-radius: 4px;
    margin: 1em 0 0 2em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type=button]:hover {
    background-color: rgb(255, 215, 110);
    
}
label[for=search]{
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    margin: 1em 0 0 2em;
}
#view {
    margin: 5em 1em 0 1em;
    display: inline-block;
}
.listitem {
    border: 1px dashed rgb(50, 50, 50);
    float: left;
    padding-bottom: 1em;
    cursor: pointer;
}
.listitem-header, .listitem-main, .listitem-footer, .listitem {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.listitem-container {
    color: rgb(255, 255, 115);
    text-align: center;
    padding: 0.3em;
    margin: auto;
    height: 100%;
    transition: -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s, border 0.5s;
    border: 1px solid rgba(255, 255, 115, 0);
}
.listitem-container:hover {
    border: 1px solid rgba(255, 255, 115, 1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 115, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 115, 1);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 115, 1);
}
.listitem-header{
    font-family: 'Monserrat', sans-serif;
    font-size: 1.6em;
    height: 20%;
}
.listitem-header p{ 
    padding-top: 0.2em;
}
.listitem-main{
    height: 60%;
}
.listitem-main-80{
    height: 75%;
}
.listitem-footer{
    height: 20%;
    display: inline-block;
    width: 100%;
    padding: 1.5em;
    font-size: 0.8em;
}
.image {
    max-width: 100%;
    max-height: 100%;
}
.titlebg {
    max-width: 11.5em;
}



/***********************MEDIA QUERIES**************************/
@media (min-width: 3500px) { /* all the way from 4k */
    .listitem {
        width: 12vw;
        height: 12vw;
    }
}
@media (max-width: 3500px) {
    .listitem {
        width: 16.3vw;
        height: 16.3vw;
    }
}
@media (max-width: 2250px) {
    .listitem {
        width: 19vw;
        height: 19vw;
    }
}
@media (max-width: 1672px) {
    .listitem {
        width: 24vw;
        height: 24vw;
    }
}
@media (max-width: 1337px) { /* cuz leet */
    .listitem {
        width: 31vw;
        height: 31vw;
    }
}
@media (max-width: 1000px) {
    .listitem {
        width: 46vw;
        height: 46vw;
    }
}
@media (max-width: 650px) {
    .listitem {
        width: 90vw;
        height: 90vw;
    }
}
/* video stuff */
.video-and-chat{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -1em;
    top: -5em;
    margin: 0;
    z-index: 100;
}
.livestream {
    width: 69.75%;
    height: 100%;
    float: left;
}
.chat {
    float: right;
    width: 29.75%;
    height: 100%;
}
#return-button {
    position: fixed;
    color: rgba(0, 0, 0, 0.5);
    top: 1em; 
    right: 1em; 
    z-index: 100;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 0.75vmax; 
    padding: 0.2vmax; 
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}
#return-button:hover {
    border: 1px solid rgba(100, 100, 100, 1);
    background-color: rgba(255, 120, 120, 1);
    color: rgba(0, 0, 0, 1);
}